apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-app
  namespace: platform-dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: node-app
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
        - name: node-app
          image: pravinsakharkar }/node-app:a77a43444d5d34815d04599836f94504c4a75f26

          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000

          envFrom:
            - configMapRef:
               name: app-config


          readinessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5

          livenessProbe:
            httpGet:
              path: /health
              port: 3000
            initialDelaySeconds: 15
            periodSeconds: 10

          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 200m
              memory: 256Mi