name: Docker Build & Push

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./app
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/node-app:latest
            ${{ secrets.DOCKER_USERNAME }}/node-app:${{ github.sha }}
      - name: Update Kubernetes manifest with new image
        run: |
          sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME}} }/node-app:${{ github.sha }}|" k8s/node-app/deployment.yaml
      - name: Commit updated manifest
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add k8s/node-app/deployment.yaml
          git commit -m "chore: deploy image ${{ github.sha }} to Kubernetes"
          git push
          